:root{
    --yealow: #ffc107;
    --color-default: #02d8d8;
    --color-stars-active: #fbd600;
    --color-gris-defaut: #b1b1b1;
    --color-black: black;
    --color-gray97: #f7f7f7;
    --color-gray: #777777;
}

/*Colors*/
.yellow{color: var(--yealow);}
.color_star{color: #fff1a2;}
.color-default{color: var(--color-default);}
.color-stars-active{color: var(--color-stars-active);}
.color-black{color: var(--color-black)}
.color-gris-default{color: var(--color-gris-defaut)}
.color-gray{color: var(--color-gray)}

.colorb-default{background-color: var(--color-default);}
.colorb-gray97{background-color: var(--color-gray97);}
.colorb-gray{background-color: var(--color-gray);}

/*Estilos de textos, h1, h2, h3, h4, h5, p*/
.text_h3{
    font-size: 18px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    font-weight: 500;}

.text-grey-p{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
    text-align:justify;}

.text-black-p{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color:black;
    text-align:justify;}

.box_shadow{
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
    height: 100%;
    text-align: center;
    padding-top: 115px;}

/*Estilos de padding*/
.padding{
    margin: 0;
    padding: 0;}
.padding_top_bottom_1{
    padding-bottom: 1rem;
    padding-top: 1rem;}
.padding_top_bottom_2{
    padding-bottom: 2rem;
    padding-top: 2rem;}
.padding_top_bottom_3{
    padding-bottom: 3rem;
    padding-top: 3rem;}

.padding_left_right_1{
    padding-left: 1rem;
    padding-right: 1rem;}
.padding_left_right_2{
    padding-left: 2rem;
    padding-right: 2rem;}
.padding_left_right_3{
    padding-left: 3rem;
    padding-right: 3rem;}

.padding_top_1{
    padding-top: 1rem;}
.padding_top_2{
    padding-top: 2rem;}
.padding_top_3{
    padding-top: 3rem;}
.padding_top_4{
    padding-top: 4rem;}
.padding_top_5{
    padding-top: 5rem;}
.padding_top_6{
    padding-top: 6rem;}

.padding_left_1{
    padding-left: 10px;}
.padding_left_2{
    padding-left: 20px;}
.padding_left_3{
    padding-left: 30px;}
.padding_left_4{
    padding-left: 40px;}
/*Final dos estilos de padding*/

.margin-1{
    margin-top: 5%;
}
/*Estilos de posicionamento de elementos*/
.left-1{
    left: 10%;}
.left-2{
    left: 20%;}
.right-1{
    right: 10%;}
.right-2{
    right: 20%;}
.clear_margin{
    margin: 0;}
/*Final dos estilos de posicionamento de elementos*/

/*Review da pagina de detalhes de um produtos*/
.list_review {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px; }

.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/*Especifico para o slide*/
.size_image_slide{
    width: 100%;
    height: 100%;}

/*Especifico para o slide*/
.posiiton_image_slide{
    left: 10%;}

/* Css especifico para pagina de Comentarios*/

/*Formatação das estrelas*/
.stars:hover{
    color: yellow}
.stars{
    color: #ffecb4}
/*FIM*/

.border-none{
    text-decoration: none;}

a{
    text-decoration: none;}

.link-none{
    text-decoration: none;
}

.link {
    text-transform: none;
}
.link:hover{
    color: black;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .link-button:hover,
  .link-button:focus {
  text-decoration: none;
  border: none;
  }

  .link:active{
    text-decoration: none;
    border: none;
  }

/* responsividade do slide */
@media only screen and (max-width: 768px){
    .clear_margin{
        margin: 0px}
    .size_image_slide{
        width: 233px;}
    .position_slide{
        left: 0%;}
}
@media only screen and (max-width: 980px){
   .text_comment{
       margin-top: 2rem;
   } 
}

@media (max-width: 576px){
    .text_center_rs{
        text-align: center;
    }
}